@page "/ViewSistema"
@page "/ViewSistema/{SistemaId:int}"
@inject NavigationManager Navigation
@inject HttpClient httpClient
@inject IJSRuntime JSRuntime

<div class="card">
    <div class="card-header bg-primary text-light">
        <h1 class="mb-0">Detalles del Sistema</h1>
    </div>
    <div class="card-body">
        <h5 class="card-title">Detalles del Sistema</h5>
        <dl class="row">
            <dt class="col-sm-3">TicketId:</dt>
            <dd class="col-sm-9">@sistema.SistemaId</dd>

            <dt class="col-sm-3">Fecha:</dt>
            <dd class="col-sm-9">@sistema.NombredeSistema</dd>
        </dl>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-outline-primary" @onclick="Atras">Volver <i class="bi bi-arrow-return-left" /></button>
    </div>
</div>
@code {
    [Parameter]
    public int SistemaId { get; set; }
    public Sistemas sistema { get; set; } = new Sistemas();


    protected override async Task OnInitializedAsync()
    {
        if (SistemaId > 0)
        {
            var sistemaEncontrado = await httpClient.GetFromJsonAsync<Sistemas>($"api/Sistemas/{SistemaId}");
            if (sistemaEncontrado != null)
            {
                sistema = sistemaEncontrado;

            }
        }
    }
    void Atras()
    {
        Navigation.NavigateTo("/IndexSistema");
    }
}
